html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.map {
    background: white;
    height: 100%;
    width: 100%;
}

.olImageLoadError {
    /*visibility: hidden !IMPORTANT;*/
    background: gray;
}

#downloadBtn {
    position: absolute;
    z-index: 5;
}

#delBtn {
    position: absolute;
    z-index: 5;
    left: 15px;
}

#cancelBtn {
    position: absolute;
    z-index: 4;
    left: 15px;
}

#myProgress {
    position: absolute;
    width: 100%;
    background-color: #ddd;
    z-index: 4;
    margin-top: 70px;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.topComponents {
    margin: 10px;
    z-index: 5;
    color: white;
    opacity: 1;
    font-family: sans-serif;
}

#topBarTitle {
    margin-top: 15px;
    font-size: 25px;
    display: inline-block;
}

#topBar {
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color: #111;
    opacity: 0.5;
    transition: 0.3s;
}

#menuContainer {
    cursor: pointer;
    float: right;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#menuContainer:focus {
    outline: none;
}

.bottomComponents {
    bottom: 15px;
}

.geolocationBtn {
    position: absolute;
    z-index: 5;
    right: 15px;
    height: 40px;
    width: 40px;
    background-color: white;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.geolocationBtn.disabled {
    background-image: url(../images/disabled.png);
}

.geolocationBtn.enabled {
    background-image: url(../images/enabled.png);
}

.geolocationBtn.centering {
    background-image: url(../images/centering.png);
}

.geolocationBtn.rotating {
    background-image: url(../images/rotating.png);
}

.btn {
    /*display: inline-block;*/
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
    color: #fff;
    background-color: #309bd1;
    border-color: #357ebd;
    min-width: 100px;
}

#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #309bd1;
    width: 0;
    transition: width 157ms;
}

:link:focus,
 :visited:focus {
    outline: none;
    background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.3s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}


/**
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
*/