<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kocher.blankProj" version="1.0.0" versionCode="20170310" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Swiss Map</name>
    <description>       Swiss Map Light   </description>
    <author email="elia.kocher@swisstopo.ch" href="http://swisstopo.ch">        PhoneGap Team    </author>
    <content src="index.html" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <engine name="android" spec="~6.0.0" />
    <platform name="ios">
        <icon height="180" platform="ios" src="www/images/ios/Icon-60@3x.png" width="180" />
        <icon height="60" platform="ios" src="www/images/ios/Icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/images/ios/Icon-60@2x.png" width="120" />
        <icon height="76" platform="ios" src="www/images/ios/Icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/images/ios/Icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/images/ios/Icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/images/ios/Icon-small@2x.png" width="58" />
        <icon height="40" platform="ios" src="www/images/ios/Icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/images/ios/Icon-40@2x.png" width="80" />
        <splash height="480" src="www/images/ios/splash/Default.png" width="320" />
        <splash height="960" src="www/images/ios/splash/Default@2x.png" width="640" />
        <splash height="1024" src="www/images/ios/splash/Default-Portrait.png" width="768" />
        <splash height="2048" src="www/images/ios/splash/Default-Portrait@2x.png" width="1536" />
        <splash height="768" src="www/images/ios/splash/Default-Landscape.png" width="1024" />
        <splash height="1536" src="www/images/ios/splash/Default-Landscape@2x.png" width="2048" />
        <splash height="1136" src="www/images/ios/splash/Default-568h@2x.png" width="640" />
        <splash height="1334" src="www/images/ios/splash/Default-667h@2x.png" width="750" />
        <splash height="2208" src="www/images/ios/splash/Default-Portrait-736h@3x.png" width="1242" />
        <splash height="1242" src="www/images/ios/splash/Default-Landscape-736h@3x.png" width="2208" />
    </platform>
    <platform name="android">
        <icon density="mdpi" src="www/images/android/Icon-mdpi.png" />
        <icon density="hdpi" src="www/images/android/Icon-hdpi.png" />
        <icon density="xhdpi" src="www/images/android/Icon-xhdpi.png" />
        <icon density="xxhdpi" src="www/images/android/Icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/images/android/Icon-xxxhdpi.png" />
    </platform>
    <platform name="android" />
    <engine name="ios" spec="~4.3.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.1" />
    <plugin name="cordova-plugin-file" spec="~4.3.1" />
    <plugin name="cordova-sqlite-storage" spec="~2.0.2" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.2" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.6" />
    <plugin name="cordova-plugin-device" spec="~1.1.5" />
    <plugin name="cordova-plugin-http" spec="~1.2.0" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.4" />
    <plugin name="cordova-plugin-app-preferences" spec="~0.99.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.2" />
    <plugin name="cordova-plugin-taptic-engine" spec="https://github.com/EddyVerbruggen/cordova-plugin-taptic-engine" />
</widget>