.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.3s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.sidenavBackground {
    height: 100%;
    width: 100%;
    display: none;
    z-index: 3;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    transition: 0.3s;
    right: 0;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.sidenav {
    margin-top: 56px;
    bottom: 0;
    height: auto;
    width: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sidenav a {
    padding: 5px 8px 5px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #FFF;
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 0px;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
    background-color: transparent;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}