html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.map {
    background: white;
    height: 100%;
    width: 100%;
}

.olImageLoadError {
    /*visibility: hidden !IMPORTANT;*/
    background: gray;
}

#textarea {
    width: 100%;
    height: 50px;
    padding: 0;
    bottom: 0;
    position: absolute;
    z-index: 100;
    opacity: 0.8;
    box-sizing: border-box;
}

#downloadBtn {
    position: absolute;
    z-index: 100;
}

#delBtn {
    position: absolute;
    z-index: 100;
    left: 15px;
}

#cancelBtn {
    position: absolute;
    z-index: 100;
    left: 15px;
}

#gpsCB {
    position: absolute;
    z-index: 100;
    right: 20px;
}

#myProgress {
    position: absolute;
    width: 100%;
    background-color: #ddd;
    z-index: 99;
    margin-top: 45px;
}

#myBar {
    width: 00%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.topComponents {
    margin: 15px;
    z-index: 100;
}

.bottomComponents {
    bottom: 15px;
}

.geolocationBtn {
    position: absolute;
    z-index: 100;
    right: 15px;
    height: 40px;
    width: 40px;
    background-color: white;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.geolocationBtn.disabled {
    background-image: url(../images/disabled.png);
}

.geolocationBtn.enabled {
    background-image: url(../images/enabled.png);
}

.geolocationBtn.centering {
    background-image: url(../images/centering.png);
}

.geolocationBtn.rotating {
    background-image: url(../images/rotating.png);
}

.btn {
    /*display: inline-block;*/
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    min-width: 100px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}